<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gewuyou.blog.admin.mapper.MenuMapper">

    <select id="listMenusByUserInfoId" resultType="com.gewuyou.blog.common.model.Menu">
        SELECT m.id,
               name,
               path,
               component,
               icon,
               create_time,
               update_time,
               order_num,
               parent_id,
               is_hidden
        FROM tb_user_role ur
# 关联角色菜单关系表与用户角色表的角色id
                 JOIN tb_role_menu rm
                      ON ur.role_id = rm.role_id
# 关联菜单表与角色菜单表的菜单id
                 JOIN tb_menu m
                      ON rm.menu_id = m.id
        WHERE user_id = #{userInfoId}
    </select>
</mapper>
