<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gewuyou.blog.server.mapper.ArticleMapper">
    <resultMap id="ArticleCardDTOResultMap" type="com.gewuyou.blog.common.dto.ArticleCardDTO">
        <id property="id" column="id"/>
        <result property="articleCover" column="article_cover"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleContent" column="article_content"/>
        <result property="isTop" column="is_top"/>
        <result property="isFeatured" column="is_featured"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="categoryName" column="category_name"/>
        <association property="author" javaType="com.gewuyou.blog.common.dto.AuthorArticleDTO">
            <result property="nickName" column="author_nickname"/>
            <result property="website" column="author_website"/>
            <result property="avatar" column="author_avatar"/>
        </association>
        <collection property="tags" ofType="com.gewuyou.blog.common.model.Tag">
            <result property="tagName" column="tag_name"/>
        </collection>
    </resultMap>
    <resultMap id="ArticleDTOResultMap" type="com.gewuyou.blog.common.dto.ArticleDTO">
        <id property="id" column="id"/>
        <result property="articleCover" column="article_cover"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleContent" column="article_content"/>
        <result property="isTop" column="is_top"/>
        <result property="isFeatured" column="is_featured"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="categoryName" column="category_name"/>
        <result property="type" column="type"/>
        <result property="originalUrl" column="original_url"/>
        <association property="author" javaType="com.gewuyou.blog.common.dto.AuthorArticleDTO">
            <result property="nickName" column="author_nickname"/>
            <result property="website" column="author_website"/>
            <result property="avatar" column="author_avatar"/>
        </association>
        <collection property="tags" ofType="com.gewuyou.blog.common.model.Tag">
            <result property="tagName" column="tag_name"/>
        </collection>
    </resultMap>
    <select id="listTopAndFeaturedArticles" resultMap="ArticleCardDTOResultMap">
        SELECT a.id          AS id,
               a.category_id AS category_id,
               article_cover,
               if(
                       COALESCE(article_abstract, '') = '',
                       SUBSTR(article_content, 1, 500),
                       article_abstract
               )             AS article_content,
               article_title,
               status,
               is_top,
               is_featured,
               a.create_time AS create_time,
               a.update_time AS update_time,
               nick_name     AS author_nickname,
               avatar        AS author_avatar,
               website       AS author_website,
               tag_name,
               category_name
        FROM (SELECT id,
                     category_id,
                     user_id,
                     article_cover,
                     article_abstract,
                     article_title,
                     article_content,
                     status,
                     is_top,
                     is_featured,
                     is_delete,
                     create_time,
                     update_time
              FROM tb_article) a
                 LEFT JOIN tb_article_tag at ON a.id = at.article_id
                 LEFT JOIN tb_tag t ON at.tag_id = t.id
                 LEFT JOIN tb_category c ON a.category_id = c.id
                 LEFT JOIN tb_user_info ui ON a.user_id = ui.id
        WHERE a.is_delete = 0
          AND a.status in (1, 2)
        ORDER BY is_top DESC, is_featured DESC

    </select>
    <select id="listArticleCardDTOs" resultMap="ArticleCardDTOResultMap">
        SELECT a.id          AS id,
               a.category_id AS category_id,
               article_cover,
               if(
                       COALESCE(article_abstract, '') = '',
                       SUBSTR(article_content, 1, 500),
                       article_abstract
               )             AS article_content,
               article_title,
               category_name,
               status,
               is_top,
               is_featured,
               a.create_time AS create_time,
               a.update_time AS update_time,
               nick_name     AS author_nickname,
               avatar        AS author_avatar,
               website       AS author_website,
               tag_name
        FROM (SELECT id,
                     category_id,
                     user_id,
                     article_cover,
                     article_abstract,
                     article_title,
                     article_content,
                     status,
                     is_top,
                     is_featured,
                     is_delete,
                     create_time,
                     update_time
              FROM tb_article
              WHERE is_delete = 0
                AND status IN (1, 2)
              ORDER BY id DESC) a
                 LEFT JOIN tb_article_tag at ON a.id = at.article_id
                 LEFT JOIN tb_tag t ON at.tag_id = t.id
                 LEFT JOIN tb_category c ON a.category_id = c.id
                 LEFT JOIN tb_user_info ui ON a.user_id = ui.id
    </select>
    <select id="listArticleCardDTOsByCategoryId" resultMap="ArticleCardDTOResultMap">
        SELECT a.id          AS id,
               a.category_id AS category_id,
               article_cover,
               if(COALESCE(article_abstract, '') = '',
                  SUBSTR(article_content, 1, 500),
                  article_abstract
               )             AS article_content,
               article_title,
               status,
               is_delete,
               status,
               category_name,
               is_top,
               is_featured,
               a.create_time AS create_time,
               a.update_time AS update_time,
               nick_name     AS author_nickname,
               avatar        AS author_avatar,
               website       AS author_website,
               tag_name
        FROM (SELECT id,
                     category_id,
                     user_id,
                     article_cover,
                     article_abstract,
                     article_title,
                     article_content,
                     status,
                     is_top,
                     is_featured,
                     is_delete,
                     create_time,
                     update_time
              FROM tb_article
              WHERE category_id = #{categoryId}
                AND is_delete = 0
                AND status IN (1, 2)
              ORDER BY id DESC) a
                 LEFT JOIN tb_article_tag at ON a.id = at.article_id
                 LEFT JOIN tb_tag t ON at.tag_id = t.id
                 LEFT JOIN tb_category c ON a.category_id = c.id
                 LEFT JOIN tb_user_info ui ON a.user_id = ui.id
    </select>

    <select id="getArticleCardDTOById" resultMap="ArticleDTOResultMap">
        SELECT a.id            AS id,
               article_cover   AS article_cover,
               article_title   AS article_title,
               article_content AS article_content,
               is_top,
               is_featured,
               is_delete,
               status,
               type,
               original_url,
               category_name AS category_name,
               a.create_time   AS create_time,
               a.update_time   AS update_time,
               ui.nick_name    AS author_nickname,
               ui.website      AS author_website,
               ui.avatar       AS author_avatar,
               tag_name
        FROM (SELECT id,
                     category_id,
                     user_id,
                     article_cover,
                     article_abstract,
                     article_title,
                     article_content,
                     status,
                     type,
                     original_url,
                     is_top,
                     is_featured,
                     is_delete,
                     create_time,
                     update_time
              FROM tb_article
              WHERE id = #{articleId}
                AND is_delete = 0
                AND status IN (1, 2)) a
                 LEFT JOIN tb_article_tag at
                           ON a.id = at.article_id
                 LEFT JOIN tb_tag t
                           ON t.id = at.tag_id
                 LEFT JOIN tb_category c
                           ON c.id = a.category_id
                 LEFT JOIN tb_user_info ui ON a.user_id = ui.id
    </select>
    <select id="getPreArticleCardDTOById" resultMap="ArticleCardDTOResultMap">
        SELECT a.id          AS id,
               a.category_id AS category_id,
               article_cover,
               if(COALESCE(article_abstract, '') = '',
                  SUBSTR(article_content, 1, 500),
                  article_abstract
               )             AS article_content,
               article_title,
               status,
               is_top,
               is_featured,
               status,
               category_name,
               a.create_time AS create_time,
               a.update_time AS update_time,
               nick_name     AS author_nickname,
               avatar        AS author_avatar,
               website       AS author_website,
               tag_name
        FROM (SELECT id,
                     category_id,
                     user_id,
                     article_cover,
                     article_abstract,
                     article_title,
                     article_content,
                     status,
                     is_top,
                     is_featured,
                     is_delete,
                     create_time,
                     update_time
              FROM tb_article
              WHERE id &lt; #{articleId}
                AND is_delete = 0
                AND status IN (1, 2)
              ORDER BY id DESC
              limit 0,1) a
                 LEFT JOIN tb_article_tag at ON a.id = at.article_id
                 LEFT JOIN tb_tag t ON t.id = at.tag_id
                 LEFT JOIN tb_category c ON t.id = a.category_id
                 LEFT JOIN tb_user_info ui ON a.user_id = ui.id
    </select>
    <select id="getNextArticleCardDTOById" resultMap="ArticleCardDTOResultMap">
        SELECT a.id          AS id,
               a.category_id AS category_id,
               article_cover,
               if(COALESCE(article_abstract, '') = '',
                  SUBSTR(article_content, 1, 500),
                  article_abstract
               )             AS article_content,
               article_title,
               status,
               is_top,
               is_featured,
               a.create_time AS create_time,
               a.update_time AS update_time,
               nick_name     AS author_nickname,
               avatar        AS author_avatar,
               website       AS author_website,
               tag_name,
               category_name
        FROM (SELECT id,
                     category_id,
                     user_id,
                     article_cover,
                     article_abstract,
                     article_title,
                     article_content,
                     status,
                     is_top,
                     is_featured,
                     is_delete,
                     create_time,
                     update_time
              FROM tb_article
              WHERE id &gt; #{articleId}
                AND is_delete = 0
                AND status IN (1, 2)
              ORDER BY id
              limit 0,1) a
                 LEFT JOIN tb_article_tag at ON a.id = at.article_id
                 LEFT JOIN tb_tag t ON t.id = at.tag_id
                 LEFT JOIN tb_category c ON t.id = a.category_id
                 LEFT JOIN tb_user_info ui ON a.user_id = ui.id
    </select>
    <select id="getLastArticleCardDTO" resultMap="ArticleCardDTOResultMap">
        SELECT a.id          AS id,
               a.category_id AS category_id,
               article_cover,
               if(COALESCE(article_abstract, '') = '',
                  SUBSTR(article_content, 1, 500),
                  article_abstract
               )             AS article_content,
               article_title,
               status,
               is_top,
               is_featured,
               a.create_time AS create_time,
               a.update_time AS update_time,
               nick_name     AS author_nickname,
               avatar        AS author_avatar,
               website       AS author_website,
               tag_name
        FROM (SELECT id,
                     category_id,
                     user_id,
                     article_cover,
                     article_abstract,
                     article_title,
                     article_content,
                     status,
                     is_top,
                     is_featured,
                     is_delete,
                     create_time,
                     update_time
              FROM tb_article
              WHERE is_delete = 0
                AND status IN (1, 2)
              ORDER BY id DESC
              limit 0,1) a
                 LEFT JOIN tb_article_tag at ON a.id = at.article_id
                 LEFT JOIN tb_tag t ON t.id = at.tag_id
                 LEFT JOIN tb_category c ON t.id = a.category_id
                 LEFT JOIN tb_user_info ui ON a.user_id = ui.id
    </select>
    <select id="getFirstArticleCardDTO" resultMap="ArticleCardDTOResultMap">
        SELECT a.id          AS id,
               a.category_id AS category_id,
               article_cover,
               if(COALESCE(article_abstract, '') = '',
                  SUBSTR(article_content, 1, 500),
                  article_abstract
               )             AS article_content,
               article_title,
               status,
               is_top,
               is_featured,
               a.create_time AS create_time,
               a.update_time AS update_time,
               nick_name     AS author_nickname,
               avatar        AS author_avatar,
               website       AS author_website,
               tag_name
        FROM (SELECT id,
                     category_id,
                     user_id,
                     article_cover,
                     article_abstract,
                     article_title,
                     article_content,
                     status,
                     is_top,
                     is_featured,
                     is_delete,
                     create_time,
                     update_time
              FROM tb_article
              WHERE is_delete = 0
                AND status IN (1, 2)
              ORDER BY id
              limit 0,1) a
                 LEFT JOIN tb_article_tag at ON a.id = at.article_id
                 LEFT JOIN tb_tag t ON at.tag_id = t.id
                 LEFT JOIN tb_category c ON t.id = a.category_id
                 LEFT JOIN tb_user_info ui ON a.user_id = ui.id
    </select>
    <select id="listArticleCardDTOsByTagId" resultMap="ArticleCardDTOResultMap">
        SELECT a.id          AS id,
               a.category_id AS category_id,
               article_cover,
               if(COALESCE(article_abstract, '') = '',
                  SUBSTR(article_content, 1, 500),
                  article_abstract
               )             AS article_content,
               article_title,
               status,
               is_top,
               is_featured,
               a.create_time AS create_time,
               a.update_time AS update_time,
               nick_name     AS author_nickname,
               avatar        AS author_avatar,
               website       AS author_website,
               tag_name
        FROM tb_article a
                 LEFT JOIN tb_article_tag at ON a.id = at.article_id
                 LEFT JOIN tb_tag t ON at.tag_id = t.id
                 LEFT JOIN tb_category c ON t.id = a.category_id
                 LEFT JOIN tb_user_info ui ON a.user_id = ui.id
        WHERE t.id = #{tagId}
          AND a.is_delete = 0
          AND a.status IN (1, 2)
    </select>
    <select id="listArticleStatistics" resultType="com.gewuyou.blog.common.dto.ArticleStatisticsDTO">
        SELECT DATE_FORMAT(create_time, '%Y-%m-%d') AS date,
               COUNT(*)                             AS count
        FROM tb_article
        GROUP BY date
        ORDER BY date DESC
    </select>
</mapper>
